{% extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<h3>Please login to access your task list.</h3>

<form method="post" action="/">
	{{ form.csrf_token }}
	<p>
	<div class="login_text"><strong>Username: </strong><span class="log">{{ form.name }}</span></div>
	<div class="login_text"><strong>Password: </strong><span class="log">{{ form.password }}</span></div> 
	<!-- <input type="submit" value="Submit"> -->
    <button class="btn btn-sm btn-primary" type="submit">Login</button>
	</p>
</form>

<br>

<p><em>Need an account? </em><a href="/register">Signup!!</a></p> 

{% endblock %}