{% extends "_base.html" %} 
{% block content %}

<h1>Welcome to FlaskTaskr</h1>
<a href="/logout">Logout</a> 

<div class="add-task">
  <h3>Add a new task:</h3> 
      <form action="{{ url_for('new_task') }}" method="post">
        {{ form.csrf_token }}
        <p>
          {{ form.name.label }}: {{ form.name }} 
            {% if form.name.errors %}
              {% for error in form.name.errors %}
                <span class="error"> {{ error }} </span>
              {% endfor %}
            {% endif %}
        </p>
        <p>
          {{ form.due_date.label }}: {{ form.due_date }}
            {% if form.due_date.errors %}
              {% for error in form.due_date.errors %}
                <span class="error"> {{ error }} </span>
              {% endfor %}
            {% endif %}
        </p>
        <p>
          {{ form.priority.label }}: {{ form.priority }}
        </p>
			  <p>
        <input type="submit" value="Submit"> 
        </p>
		  </form>
</div>

<div class="entries">
  <br>
  <h2>Open tasks:</h2>
  <br> 
</div>


<table class="table">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Due Date</th>
      <th>Posted Date</th>
      <th>Priority</th>
      <th>Posted By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for task in open_tasks %}
    <tr>
      <td> {{ task.name }} </td>
      <td> {{ task.due_date }} </td>
      <td> {{ task.posted_date }} </td>
      <td> {{ task.priority }} </td>
      <td> {{ task.poster.name }} </td>
      <td> <div class="item">
        <a href="{{ url_for('delete_entry', task_id = task.task_id) }}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
        <a href="{{ url_for('complete', task_id = task.task_id) }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
      </div>
      </td> 
    </tr>
      {% endfor %} 
  </tbody>
</table>

<div class="entries">
  <br>
  <h2>Closed tasks:</h2>
  <br> 
</div>

<table class="table">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Due Date</th>
      <th>Posted Date</th>
      <th>Priority</th>
      <th>Posted By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for task in closed_tasks %}
    <tr>
      <td> {{ task.name }} </td>
      <td> {{ task.due_date }} </td>
      <td> {{ task.posted_date }} </td>
      <td> {{ task.priority }} </td>
      <td> {{ task.poster.name }} </td>
      <td> <div class="item">
        <a href="{{ url_for('delete_entry', task_id = task.task_id) }}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
      </div>
      </td> 
    </tr>
      {% endfor %} 
  </tbody>
</table>

{% endblock %}





